.ui.menu .item {
	font-size: 20px;
}

.ui.menu .item a {
	color: white;
}

.main-content {
	margin-top: 7em;
	margin-bottom: 7em;
}

.ui.piled.segment.failure-message {
	margin: 1em 0;
	margin-left: 4em;
	margin-bottom: 0;
}

.ui.icon.message>.icon:not(.close) {
	font-size: 1em;
}
