{#include StatusResource/base}
	{#title}Status{/title}
	{#body}
		<div class="ui main container">
			<div class="ui icon message">
				<i class="small sync icon"></i>
				<div class="content">
					<p>Updated {status.updated.formatDateTime} (refreshed every 10 minutes).</p>
				</div>
			</div>
			{#for section in status.sections}
			<a name="{section.key}"></a>
			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="fourteen wide">{section.value.name}</th>
						<th class="two wide center aligned">
							{#if section.value.failure}
								<i class="red icon exclamation circle large"></i>
							{#else}
								<i class="green icon check circle large"></i>
							{/if}
						</th>
					</tr>
				</thead>
				<tbody>
					{#for line in section.value.lines}
					<tr class="{#if line.failure}negative{#else}positive{/if}">
						<td>
							<div>
								<strong><a href="{line.url}" target="_blank">{line.name}</a></strong>
							</div>
							{#if line.failure && line.failureMessage}
							<div class="ui piled segment failure-message">
								{line.failureMessage.raw}
							</div>
							{/if}
						</td>
						<td class="center aligned">
							{#if line.failure}
								<i class="red icon exclamation circle large"></i>
							{#else}
								<i class="green icon check circle large"></i>
							{/if}
						</td>
					</tr>
					{/for}
				</tbody>
			</table>
			{/for}
		</div>
	{/body}
{/include}
