{#include StatusResource/base}
	{#title}Status{/title}
	{#body}
		<div class="ui main container">
			<div class="ui icon message">
				<i class="small sync icon"></i>
				<div class="content">
					<p>Updated {inject:prettyTime.format(status.updated)} (refreshed every 10 minutes).</p>
				</div>
			</div>
			{#for section in status.sections}
			<a name="{section.key}"></a>
			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="fourteen wide">{section.value.name}</th>
						<th class="two wide center aligned">
							{#if section.value.failure}
								<i class="red icon exclamation circle large"></i>
							{#else}
								<i class="green icon check circle large"></i>
							{/if}
						</th>
					</tr>
				</thead>
				<tbody>
					{#for line in section.value.lines}
					<tr class="{#if line.failure}negative{#else if line.warning}warning{#else}positive{/if}">
						<td>
							<div>
								<strong><a href="{line.url}" target="_blank">{line.name}</a></strong>
							</div>
							{#if line.failure && line.failureMessage}
							<div class="ui piled segment failure-message">
							{#if line.failureMessage.type.fullReport}
								The build failed. Click for more details:
								<details>
								<div class="details-full-report">
								{line.failureMessage.message.raw}
								</div>
								</details>
							{#else}
								{line.failureMessage.message.raw}
							{/if}
							</div>
                            {#if line.buildStatus}
                            <div class="ui piled segment failure-message">
                            <details>
                                <summary>More information</summary>
                                <table class="ui definition celled striped table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            {#if line.buildStatus.lastSuccess}
                                            <th>Last success</th>
                                            {/if}
                                            {#if line.buildStatus.firstFailure}
                                            <th>First failure</th>
                                            {/if}
                                            {#if line.buildStatus.lastSuccess && line.buildStatus.firstFailure}
                                            <th>Diff</th>
                                            {/if}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {#if line.buildStatus.quarkusSha}
                                        <tr>
                                            <td>Quarkus</td>
                                            {#if line.buildStatus.lastSuccess}
                                            <td class="left green marked"><a href="https://github.com/quarkusio/quarkus/tree/{line.buildStatus.lastSuccess.quarkusSha}"><code>{line.buildStatus.lastSuccess.quarkusSha}</code></a></td>
                                            {/if}
                                            {#if line.buildStatus.firstFailure}
                                            <td class="left red marked"><a href="https://github.com/quarkusio/quarkus/tree/{line.buildStatus.firstFailure.quarkusSha}"><code>{line.buildStatus.firstFailure.quarkusSha}</code></a></td>
                                            {/if}
                                            {#if line.buildStatus.lastSuccess && line.buildStatus.firstFailure}
                                            <td>
                                                {#if line.buildStatus.lastSuccess.quarkusSha != line.buildStatus.firstFailure.quarkusSha}
                                                <a href="https://github.com/quarkusio/quarkus/compare/{line.buildStatus.lastSuccess.quarkusSha}...{line.buildStatus.firstFailure.quarkusSha}">Compare</a>
                                                {#else}
                                                &nbsp;
                                                {/if}
                                            </td>
                                            {/if}
                                        </tr>
                                        {/if}
                                        {#if line.buildStatus.projectSha}
                                        <tr>
                                            <td>Project</td>
                                            {#if line.buildStatus.lastSuccess}
                                            <td class="left green marked"><a href="https://github.com/{line.buildStatus.repository}/tree/{line.buildStatus.lastSuccess.projectSha}"><code>{line.buildStatus.lastSuccess.projectSha}</code></a></td>
                                            {/if}
                                            {#if line.buildStatus.firstFailure}
                                            <td class="left red marked"><a href="https://github.com/{line.buildStatus.repository}/tree/{line.buildStatus.firstFailure.projectSha}"><code>{line.buildStatus.firstFailure.projectSha}</code></a></td>
                                            {/if}
                                            {#if line.buildStatus.lastSuccess && line.buildStatus.firstFailure}
                                            <td>
                                                {#if line.buildStatus.lastSuccess.projectSha != line.buildStatus.firstFailure.projectSha}
                                                <a href="https://github.com/{line.buildStatus.repository}/compare/{line.buildStatus.lastSuccess.projectSha}...{line.buildStatus.firstFailure.projectSha}">Compare</a>
                                                {#else}
                                                &nbsp;
                                                {/if}
                                            </td>
                                            {/if}
                                        </tr>
                                        {/if}
                                    </tbody>
                                </table>
                            </details>
                            </div>
                            {/if}
							{/if}
						</td>
						<td class="center aligned">
							{#if line.failure}
								<i class="red icon exclamation circle large"></i>
							{#else if line.warning}
								<i class="orange icon attention circle large" title="Data looks stale"></i>
							{#else}
								<i class="green icon check circle large"></i>
							{/if}
						</td>
					</tr>
					{/for}
				</tbody>
			</table>
			{/for}
		</div>
	{/body}
{/include}
