
{#include StatusResource/base}
	{#title}{stats.name} Deep Dive{/title}
	{#styles}
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.semanticui.min.css">
	{/styles}
	{#body}
		<div class="ui main container">
			<div class="ui pointing menu">
				<a class="{isBugs ? 'active' : ''} item" href="/bugs/">Bugs</a>
				<a class="{isBugs ? '' : 'active'} item" href="/enhancements/">Enhancements</a>
			</div>
		
			<div class="ui icon message">
				<i class="small sync icon"></i>
				<div class="content">
					<p>Updated {stats.updated.formatDateTime} (refreshed every 6 hours).</p>
				</div>
			</div>
	
			<div class="ui message">
				<canvas id="canvas-stacked"></canvas>
			</div>
			<div class="ui message">
				<canvas id="canvas-lines"></canvas>
			</div>

			<div id='table-container'></div>
		</div>
	{/body}
	{#scripts}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.semanticui.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
		<script type="text/javascript" src="/js/csv_to_html_table.js"></script>
		<script>
			var barChartConfig = {
				type: 'bar',
				data: {
					labels: [
					{#for entry in stats.entries}
						"{entry.entryName}",
					{/for}
					],
					datasets: [{
						label: 'Closed',
						backgroundColor: "#00CC00",
						data: [
						{#for entry in stats.entries}
							{entry.createdAndClosedNow},
						{/for}
						]
					}, {
						label: 'Still open',
						backgroundColor: "#FF0000",
						data: [
						{#for entry in stats.entries}
							{entry.createdAndOpenNow},
						{/for}
						]
					},]
	
				},
				options: {
					onClick: barChartClickEvent,
					title: {
						display: true,
						text: '{stats.name} created per month'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					legend: {
						onHover: function(e) {
							e.target.style.cursor = 'pointer';
						}
					},
					hover: {
						onHover: (event, chartElement) => {
							event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
						}
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true
						}],
						yAxes: [{
							stacked: true,
							scaleLabel: {
								display: true,
								labelString: 'Number of {stats.name}'
							}
						}]
					}
				}
			};
			function barChartClickEvent(event, array){
				if(array[0]) {
					// console.table(array);
					// console.table(array[0]._model);
					var activePoint = window.barChart.getElementAtEvent(event)[0];
					var issuesState = activePoint._datasetIndex == 0 ? "closed" : "open"
					window.open("https://github.com/quarkusio/quarkus/issues?q=label:{stats.label}+is:issue+is:" + issuesState + "+created:" + array[0]._model.label, '_blank');
				}
			}
			var lineChartConfig = {
				type: 'line',
				data: {
					labels: [
					{#for entry in stats.entries}
						"{entry.entryName}",
					{/for}
					],
					datasets: [{
						label: 'Opened during month',
						fill: false,
						backgroundColor: "#FF0000",
						borderColor: "#FF0000",
						data: [
						{#for entry in stats.entries}
							{entry.created},
						{/for}
						]
					}, {
						label: 'Closed during month',
						fill: false,
						backgroundColor: "#00CC00",
						borderColor: "#00CC00",
						data: [
						{#for entry in stats.entries}
							{entry.closed},
						{/for}
						]
					}, {
						label: 'Both opened and closed during month',
						fill: false,
						backgroundColor: "#000080",
						borderColor: "#000080",
						data: [
						{#for entry in stats.entries}
							{entry.createdAndClosed},
						{/for}
						]
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Activity per month'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					legend: {
						onHover: function(e) {
							e.target.style.cursor = 'pointer';
						}
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Number of {stats.name}'
							}
						}]
					}
				}
			};
	
			window.onload = function() {
				var ctxStacked = document.getElementById('canvas-stacked').getContext('2d');
				window.barChart = new Chart(ctxStacked, barChartConfig);
	
				var ctxLines = document.getElementById('canvas-lines').getContext('2d');
				window.lineChart = new Chart(ctxLines, lineChartConfig);
			};

			function format_link(link) {
				if (link)
					return "<a href='https://github.com/quarkusio/quarkus/issues?q=label:{stats.label}+label:\"" + link + "\"+is:issue+is:open' target='_blank'>" + link + "</a>";
				else
					return "";
			}
			CsvToHtmlTable.init({
				csv_path: '/labels/{stats.name.toLowerCase}',
				element: 'table-container',
				allow_download: false,
				csv_options: \{separator: ',', delimiter: '"'\},
				datatables_options: \{"paging": false, "info": false, "order": [[ 1, 'desc' ], [ 2, 'desc' ]]\},
				custom_formatting: [[0, format_link]]
			});
		</script>
	{/scripts}
{/include}
